#btp{
  background-color: #D18787;
}

#textbt
{
  font-family: 'Quicksand', sans-serif;
  color:#000000;
}

#base {
  
  background-color: #E5E5E5;
}
 #azul {
   background-color: #94B4E4;
 }
#sizebt
{
  width: 18rem;
}